// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$basicBgColor: #71a9d2;
$basicBgColorDarker: #4297d7;
$btnColorLight: #eaf4fd;
$btnColorDarker: #e6f2fc;
$btnBorderColor: #79b7e7;
$btnTextColor: #2e6e9e;
